body{
    background-image: linear-gradient(to right,#8A4F7D,#887880);
   
}

main{
   background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 8px rgb(34, 31, 31);
    border-radius: 10px;
}
h1{
    color: #88A096;
    text-shadow: 1px 1px 2px;
    text-align: center;
}
h2{
    color: #c2a15b;
}
p{
    text-align: justify;
}