@charset "UTF-8"

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    #telefone {
        display: none;
    }

    #tablet {
        display: block;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    #pc {
        display: block;
    }

    #telefone {
        display: none;
    }

}

@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    #telefone {
        display: none;
    }

    #tv {
        display: block;
    }
}

@media print{
    body{
        background-image: url(../imagens/back-print.jpg);
    }

    #telefone{
        display: none;
    }

    #impresso{
        display: block;
    }
}